extends layout.pug

block styles
  link(rel="stylesheet" type="text/css" href="/stylesheets/styles.css")
block content
    form.form-signin.container(method="post" action="/driverlogin")
        h1.h3.mb-3.font-weight-normal.text-center Please login
        label.sr-only(for='inputUserName') User name
        input#inputUserName.form-control(type='username' placeholder='Username' name="username" autofocus)
        br
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password' placeholder='Password' name="password")
        
        button.btn.btn-lg.btn-primary.btn-block(type='submit') login
        p.mt-5.mb-3.text-muted © sps 2019