doctype html
html(lang="en")
    head
        title #{title} 
        link(rel="stylesheet",href="/stylesheets/bootstrap.min.css")
        //- link(rel="stylesheet", href="/stylesheets/styles.css")
        link(rel="stylesheet",href="/stylesheets/style.css")
        block styles

       
    body
      br
      //- div.container-fluid.bg-secondary.mb-4
        //- div.card-body.text-center
          //- h3.text-white #{title}
        
          
      block content