doctype html
html(lang="en")
    head
        title #{title} 
        link(rel="stylesheet",href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/styles.css")
       
    body
      div.container-fluid.bg-secondary.mb-4
        div.card-body.text-center
          h3.text-white Smart Parking System
          
      block content